<!DOCTYPE html>
<html>
  <head>
    <title>JS Conferences</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='/css/style.css' />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <header>
      <div class="jumbotron hidden-xs">
      </div>

      <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a href="/" class="navbar-brand">JS Conferences</a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/">Home</a></li>
                <li><a href="/speakers" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Speakers <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/speakers">All Speakers</a></li>
                    <li role="separator" class="divider"></li>
                  </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <div class="maincontent">

            <article class="article">
              <h1 class="article-title">What is JSConf?</h1>
                <p>JSConf has been the launch pad for many of the greatest things that we now take for granted on the web. This year will be no exception thanks to our famously unique call for speakers process designed to spotlight the new faces and ideas in the community. </p>
            </article>

            <article class="article">
              <h1 class="article-title">How to get to JSConf last call</h1>
              <p>For this final event, since it is smaller and more intimate, there will not be the normal airport transportation. Luckily, getting to the resort is easy, direct, and rather cost effective!</p>
              <a href="http://lastcall.jsconf.us/getting-here.html">Getting here!</a>
            </article>

          </div>
        </div>
        <aside class="col-sm-4">
          <article class="sidebar">
            <h1 class="sidebar-title">Sponsoring</h1>
              <p class="sidebar-body"> We do things a little different. There are no booths, no exhibit halls, and we encourage you to send your best technical talent. We focus sponsorships on creating amazing shared experiences.</p>
              <a href="http://lastcall.jsconf.us/sponsors.html">Find out more details!</a>
          </article>
        </aside>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script src="/js/pixgrid.js"></script>
  </body>
</html>
